{% extends 'base.html.twig' %}

{% block title %}Modifier Profil
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5">
		<h1 class="mb-4 text-center">Modifier Profil</h1>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

		{% for message in app.flashes('error') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}

		{{ form_start(profileForm) }}
		<div class="row mb-4">
			<div class="col-md-12">
				{{ form_label(profileForm.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
				{{ form_widget(profileForm.email, {'attr': {'class': 'form-control'}}) }}
				{{ form_errors(profileForm.email) }}
			</div>
		</div>
		<div class="row mb-4">
			<div class="col-md-12">
				{{ form_label(profileForm.username, 'Nom d’utilisateur', {'label_attr': {'class': 'form-label'}}) }}
				{{ form_widget(profileForm.username, {'attr': {'class': 'form-control'}}) }}
				{{ form_errors(profileForm.username) }}
			</div>
		</div>
		<div class="row mb-4">
			<div class="col-md-12">
				{{ form_label(profileForm.plainPassword.first, 'Nouveau mot de passe', {'label_attr': {'class': 'form-label'}}) }}
				{{ form_widget(profileForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
				{{ form_errors(profileForm.plainPassword.first) }}
			</div>
			<div class="col-md-12 mt-2">
				{{ form_label(profileForm.plainPassword.second, 'Confirmez le nouveau mot de passe', {'label_attr': {'class': 'form-label'}}) }}
				{{ form_widget(profileForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
				{{ form_errors(profileForm.plainPassword.second) }}
			</div>
		</div>
		<div class="row mb-4">
			<div class="col-md-12 text-center">
				<button type="submit" class="btn btn-primary btn-lg">Enregistrer les modifications</button>
			</div>
		</div>
		{{ form_end(profileForm) }}
	</div>
{% endblock %}
