{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}

	<h1 style="text-align: center">Créer une nouvelle équipe</h1>

	{% for label, messages in app.flashes %}
		<div class="alert alert-{{ label }}">
			{% for message in messages %}
				<p>{{ message }}</p>
			{% endfor %}
		</div>
	{% endfor %}

	<div class="form-container mb-5">
		{{ form_start(form) }}
		<div class="form-group">
			{{ form_label(form.name) }}
			{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.pathImage) }}
			{{ form_widget(form.pathImage, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="button-container">
			<button class="btn">Créer</button>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
