{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}

	<h1 style="text-align: center">Détails</h1>

	<div class="detail-container">
		<div class="team-info">
			<div class="team">
				<img src="{{ asset(avis.game.equipeDomicile.pathImage) }}" alt="{{ avis.game.equipeDomicile.name }} logo">
				<span>{{ avis.game.equipeDomicile.name }}</span>
			</div>
			<div class="score">
				{{ avis.game.score }}
			</div>
			<div class="team">
				<img src="{{ asset(avis.game.equipeExterieur.pathImage) }}" alt="{{ avis.game.equipeExterieur.name }} logo">
				<span>{{ avis.game.equipeExterieur.name }}</span>
			</div>
		</div>

		<p>
			<strong>Commentaire:</strong>
			{{ avis.commentaire }}
		</p>
		<p>
			<strong>Utilisateur:</strong>
			{{ avis.user.username }}
		</p>
		<p>
			{{ avis.updatedAt ? 'Mise à jour le : ' ~ avis.updatedAt|date('d/m/Y H:i:s') : 'Créé le : ' ~ avis.createdAt|date('d/m/Y H:i:s') }}
		</p>
		{% if is_granted('ROLE_ADMIN') or (app.user and app.user.id == avis.user.id) %}
			<div class="link-container">
				<a class="edit" href="{{ path('avis_edit', { 'slug': avis.slug , 'id': avis.id }) }}">Modifier</a>
				{# Formulaire de suppression #}
				<form method="post" action="{{ path('avis_delete', {slug: avis.slug, id: avis.id}) }}" onsubmit="return confirm('Etes vous sur de supprimer cette avis ?');">
					<input type="hidden" name="_method" value="DELETE">
					<button type="submit">Supprimer</button>
				</form>
				{# <a class="delete" href="{{ path('avis_delete', {id: avis.id}) }}">Supprimer</a> #}
			</div>
		{% endif %}
	</div>

{% endblock %}
