{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}

	<h1 style="text-align: center">Créer un nouvel Avis</h1>

	<div class="form-container">
		{{ form_start(form) }}
		{% if app.user and not is_granted('ROLE_ADMIN') %}
			<div class="form-group">
				{{ form_label(form.username) }}
				{{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="form-group">
				{{ form_widget(form.user) }}
			</div>
		{% else %}
			<div class="form-group">
				{{ form_label(form.user) }}
				{{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
			</div>
		{% endif %}
		<div class="form-group">
			{{ form_label(form.game) }}
			{{ form_widget(form.game, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.commentaire) }}
			{{ form_widget(form.commentaire, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="button-container">
			<button class="btn">Créer</button>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
