<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>

		<header>
			<nav class="navbar">
				<ul class="nav-list">
					<li class="nav-item">
						<a href="{{ path('home') }}">Accueil</a>
					</li>
					<li class="nav-item">
						<a href="{{ path('avis_list') }}">Liste des avis</a>
					</li>
					<li class="nav-item">
						<a href="{{ path('teams_list') }}">Liste des équipes</a>
					</li>
					<li class="nav-item">
						<a href="{{ path('games_list') }}">Liste des matchs</a>
					</li>
					<li class="nav-item">
						<a href="{{ path('avis_new') }}">Créer un avis</a>
					</li>
				</ul>
			</nav>
		</header>

		{% block body %}{% endblock %}
	</body>
</html>
